<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/icono.ico" />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/header-logueado.css">
    <link rel="stylesheet" href="/stylesheets/header-deslogueado.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <% for(let i=0; i<10; i++){ %>
                            <div class="info-usuario uk-flex ">
                                <div class="cajaPerfil">
                                    <a class="usuarios" href="/user/detail/<%= resultados[i].user.id %>"><img class="fotoPerfilUsuario" src="<%= resultados[i].user.user_picture %>" alt=""></a>
                                </div>
                                <h4><a class="usuarios" href="/user/detail/<%= resultados[i].user.id %>"><%= resultados[i].user.name %></a></h4>
                                
                            </div>
                         
                            <div class="post-body uk-flex uk-flex-center">
                                <img class="post-foto" src="<%= resultados[i].image_user %>" alt="">
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                        <li><a href="/post/detail/<%= resultados[i].id %>"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                        </li>
                                        <li><a href="/post/detail/<%= resultados[i].id %>"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                        </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                        <h5 class="uk-width-1-6"><a class="usuarios main-user" href="/user/detail/<%= resultados[i].id %>"><%= resultados[i].user.name %></a></h5>
                                        <p class="uk-width-5-6"><%= resultados[i].text_post %></p>  
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <ul>
                                    <% for(let j=0; j<4; j++ ) { %>
                                        <li>
                                            <a class="usuarios" href="/user/detail/<%= resultados[i].comments[j].id_user_comment %>"><%= resultados[i].comments[j].user.name %></a>
                                            <p><%= resultados[i].comments[j].text_comment %></p>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %> 
                    </article>
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>