    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/icono.ico" />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/header.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">

                <section class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                                          
                        <% for(let i=0; i<resultados.length; i++){ %>

                            <article class="post uk-card-default uk-flex uk-flex-column"> <!-- Este es el articulo que abarca cada post-->

                                <div class="info-usuario uk-flex "> <!--Info del Ususario-->

                                    <div class="cajaPerfil"> <!--Foto de Perfil-->
                                        <a class="usuarios" href="/user/detail/<%= resultados[i].user.id %>">
                                            <div class="fotoPerfil" style="background-image: url('<%= resultados[i].user.user_picture %>');"></div>  
                                        </a>
                                    </div>
                                    <a class="usuarios" href="/user/detail/<%= resultados[i].user.id %>"> <!--Nombre del usuario-->
                                        <h4><%= resultados[i].user.name %></h4>
                                    </a>
                                    
                                </div>
                            
                                <div class="post-body uk-flex uk-flex-center"> <!--Post (Foto)-->
                                    <a href="/post/detail/<%= resultados[i].id %>">
                                        <img class="post-foto" src="<%= resultados[i].image_user %>" alt="postUser">
                                    </a>
                                </div>

                                <div class="post-reacciones">
                                    <ul id="iconsReacciones" class="post-icons uk-flex uk-flex-between">
                                            <li>
                                                <a href="/post/detail/<%= resultados[i].id %>"> <!--Botón de Like-->
                                                    <span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/post/detail/<%= resultados[i].id %>"> <!--Botón de comentarios-->
                                                    <span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                                </a>
                                            </li>
                                    </ul>

                                    <div id="usernamePost" class="post-pie uk-flex"> <!--Info del Usuario-->
                                        <a href="/user/detail/<%= resultados[i].id %>"><%= resultados[i].user.name %></a><!--Nombre de usuario-->
                                        <div class="postComment"> <!--Caption-->
                                            <p><%= resultados[i].text_post %></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-comentarios"> <!--Comentarios-->
                                    <ul id="commentsUl">
                                        <h4 class="comentarios-title">Comentarios</h4>
                                        <% if (resultados[i].comments.length > 0) { %>
                                            <% for(let j=0; j<resultados[i].comments.length; j++ ) { %>
                                                <li>
                                                    <section>
                                                        <a class="usuarios" href="/user/detail/<%= resultados[i].comments[j].id_user_comment%>"><%= resultados[i].comments[j].user.name %>
                                                        </a>
                                                    </section>
                                                    <section class="postComment">
                                                        <p><%= resultados[i].comments[j].text_comment %></p>
                                                    </section>
                                                </li>
                                            <% } %>
                                        <% } else {%>
                                            <p>Todavía no hay comentarios. ¡Se el primero en comentar!</p>
                                        <% } %>
                                    </ul>
                                </div>
                                
                            </article>

                        <% } %>                     
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>