<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="icon"
        href="images/icons/icono.ico"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/header-logueado.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
    
    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <% if (resultados.length>0) { %>
         
                    <% for (let i=0; i< resultados.length; i++){ %>
                        <div class="usuario">
                            <div class="cajaPerfil">
                                <!-- <a class="usuarios" href="/user/detail/<%= resultados[i].id %>"><img class="fotoPerfilUsuario" src="<%= resultados[i].user_picture %>" alt=""></a> -->
                                <h4><a class="usuarios" href="/user/detail/<%= resultados[i].id %>"><%= resultados[i].name %></a></h4>
                            </div>
                          <% } } else { %>
                            <h2>No se encontraron resultados para tu busqueda</h2>
                        <% } %>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>