<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="icon"
        href="images/icons/icono.ico"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/updateProfile.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/header')%>

    <h1>Editar mi perfil</h1>

    <form id='actualizar' action="/user/update/<%= resultados.id %>" method="POST">

        <span class="logo1">foodie</span><span class="logo2">gram</span>
            <div class="container">
            
                <!--Foto de perfil-->
                <div>
                    <div id="userPicture">
                        <img src="<%= resultados.user_picture %> "
                                class="rounded-circle z-depth-1-half avatar-pic" alt="foto de perfil">
                    </div>
                    <div class="input-group mb-3">
                    <input placeholder="URL foto de perfil" class="form-control" type="url" name="user_picture" accept="image/*">
                        </div>
                </div>       

                <!--Nombre de usuario-->
                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="usuario" name="name">                            
                </div>

                <!--Email-->
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="email" name="email">
                <!--MENSAJE ERROR SI SE REPITE EL MAIL-->
                </div>
                    
                <!--Contraseña-->
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="contraseña" name="password">
                </div>

                <!--Fecha de nacimiento-->
                <div class="input-group mb-3">
                    <input type="date" class="form-control" placeholder="fecha de nacimiento" name="birthdate">
                </div>

                <!-- Pregunta y respuesta de seguridad -->
                <div class="input-group mb-3" class='formRegistro'>
                    <label class="form-control">pregunta de seguridad</label>
                    <select name="question2" class="custom-select" id="inputGroupSelect01">
                        <% for (let i = 0; i < preguntas.length; i++) {%>
                            <option value="<%= preguntas[i].id%>"><%= preguntas[i].question%></option>
                        <%}%>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="respuesta" name="securityAnswer">
                </div>


            <button id="buttonUpdate" type="submit">Actualizar</button><br>

            <div class="uk-text-small uk-text-center">
                <label> No queres editar nada? <a href="/user/myProfile"> Volve a tu perfil</a></label>
            </div>

        </div>
        
    </form>


    <%- include('./partials/footer') %> 
</body>

</html>

